<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders -->

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %d [%t] %-5p %c - %m%n" />
        </layout>
    </appender>

    <appender name="lexipol-wdk" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="C:/Logs/lexipol-kms.log" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="1MB" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %t %-5p %c{2} - %m%n"/>
        </layout>
    </appender>

    <!-- Package Specific Loggers -->

    <logger name="com.lexipol" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="lexipol-wdk" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="com.documentum" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="lexipol-wdk" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="org.springframework" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="lexipol-wdk" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- Root Logger -->

    <root>
        <priority value="ERROR" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="lexipol-wdk" />
    </root>

</log4j:configuration>